Package: com.dream.splitwindow
Name: SplitWindow PoC
Version: 0.3.0
Architecture: iphoneos-arm64
Description: iOS 16 SplitWindow proof-of-concept built as a rootless package for RootHide compatibility.
Maintainer: Dream
Author: Dream
Section: Tweaks
Depends: firmware (>= 16.0), ellekit | mobilesubstrate, preferenceloader
